# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

[*]
indent_style = space
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.fs;*.yaml;*.html]
indent_size = 2
