name: CI

on: [ push, pull_request ]

permissions:
  id-token: write

jobs:
  ci:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3

      - name: Restore tools
        run: dotnet tool restore

      - name: Check code format
        run: dotnet fantomas --check .

      - name: Test
        run: dotnet test -c Release -maxCpuCount -- Expecto.fail-on-focused-tests=true

      - name: NuGet login
        uses: NuGet/login@v1
        id: nuget_login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Push
        if: startsWith(github.ref, 'refs/tags/v/')
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: dotnet nuget push "**/*.nupkg" -s "https://api.nuget.org/v3/index.json" -k ${{ steps.nuget_login.outputs.NUGET_API_KEY }} --skip-duplicate
